* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: auto;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  /* margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 6rem; */
}

.borderInputs {
  min-width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  height: 80vh;
  border-radius: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(172deg, rgba(2, 0, 36, 1) 0%, rgba(8, 7, 7, 1) 0%, rgba(64, 64, 64, 1) 100%);
}

.titulo {
  color: white;
  font-size: 40px;
  margin-bottom: 7rem;
}

#titulo>h2 {
  font-size: 4vmax;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 20rem;
}

.user1>input {
  height: 2rem;
  width: 14rem;
  padding-left: 0.8rem;
}

.user2>input {
  height: 2rem;
  width: 14rem;
  padding-left: 0.8rem;
  border: 2px solid black;
}

.user1>label {
  color: white;
}

.user2>label {
  color: white;
}

#start {
  border: none;
  background-color: #ffffff;
  color: rgb(9, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

#start:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

#start::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.velha {
  width: 30vh;
  height: 30vh;
}

#titulo {
  font-size: 2rem;
  display: flex;
  color: white;
}

#player {
  margin-left: 1rem;
  color: white;
}

#turnPlayer {
  font-size: 50px;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: auto;
  gap: 0.5rem;
  margin-top: 4rem;
}

#gameBoard>span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  color: white;
  font-size: 10vw;
}

#gameBoard>span:hover {
  border: 2px solid grey;
  background-color: grey;
}

#gameBoard>span.win {
  color: greenyellow;
}

.borderScore>h1 {
  color: white;
  font-size: 60px;
}

.borderScore {
  min-width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  height: 80vh;
  border-radius: 2rem;
  margin-right: 4rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(172deg, rgba(2, 0, 36, 1) 0%, rgba(8, 7, 7, 1) 0%, rgba(64, 64, 64, 1) 100%);
  display: none;
}

.score>input {
  width: 80px;
  height: 50px;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 40px;
  color: white;
  border: 0;
  background: 0;
}

.score>label {
  font-size: 40px;
  color: white;
}

.jogoVelha {
  width: 200px;
  margin-bottom: 3rem;
}

@media(max-width: 1334px) {
  .borderScore {
    display: none;
  }
}

@media(max-width: 918px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    align-items: center;
    background-color: black;
  }

  .borderInputs {
    margin: 0;
    width: 30rem;
  }

  #gameBoard>span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 24vmin;
    height: 24vmin;
    cursor: pointer;
    color: white;
    font-size: 10vmax;
  }
}

@media(max-width: 428px) {
  .borderInputs {
    width: 40vw;
  }

  .users {
    width: 50px;
  }
}